<div class="sla-panel">
    
    <div class="sla-header-bar flexrow">
        <span style="flex:1">EBB DISCIPLINES & FORMULAE</span>
        <a class="item-create" data-type="discipline" title="Create New Discipline"><i class="fas fa-plus"></i></a>
    </div>
    
    <div class="scroll-list">
        <table class="sla-table" style="table-layout: fixed;">
            <thead>
                <tr>
                    <th style="text-align: left; padding-left: 5px;">Name</th>
                    <th style="width: 70px; text-align: center;">Rank/Cost</th>
                    <th style="width: 50px;"></th>
                </tr>
            </thead>
            <tbody>
                {{#each disciplines as |discipline|}}
                
                {{!-- PARENT ROW: DISCIPLINE --}}
                <tr class="item discipline-row" data-item-id="{{discipline._id}}">
                    <td class="item-name" style="font-weight: bold; color: #cfaaf5; padding-left: 5px;">
                        {{discipline.name}}
                    </td>
                    <td style="text-align: center; font-weight: bold; color: #fff; background: rgba(0,0,0,0.3);">
                        {{discipline.system.rank}}
                    </td>
                    <td class="item-controls" style="text-align: center;">
                        <a class="item-edit" title="Edit Discipline"><i class="fas fa-edit"></i></a>
                        <a class="item-delete" title="Delete Discipline"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>

                {{!-- CHILD ROWS: FORMULAS --}}
                {{#each discipline.formulas as |formula|}}
                <tr class="item formula-row" data-item-id="{{formula._id}}">
                    {{!-- Indented Name --}}
                    <td class="item-name rollable" data-roll-type="item" style="padding-left: 20px; font-size: 0.9em; color: #ccc;">
                        <i class="fas fa-angle-right" style="font-size: 0.8em; color: #8a2be2;"></i> {{formula.name}}
                    </td>
                    {{!-- Cost --}}
                    <td style="text-align: center; font-size: 0.85em; color: #aaa;">
                        {{formula.system.cost}} Flux
                    </td>
                    {{!-- Controls --}}
                    <td class="item-controls" style="text-align: center;">
                        <a class="item-edit" title="Edit Formula"><i class="fas fa-edit"></i></a>
                        <a class="item-delete" title="Delete Formula"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                {{/each}}

                {{/each}}

                {{#unless disciplines}}
                    <tr>
                        <td colspan="3" style="text-align: center; color: #555; font-style: italic; padding: 10px;">
                            No Disciplines learned.
                        </td>
                    </tr>
                {{/unless}}
            </tbody>
        </table>
    </div>
</div>