<div class="stats-grid">
    {{!-- COLUMN 1: HEADER TEXT ONLY --}}
    <div class="flexcol" style="justify-content: flex-start; padding-top: 5px;">
        <div class="ratings-header">RATINGS POINTS</div>
    </div>

    {{!-- COLUMN 2: BODY GROUP --}}
    <div class="flexcol">
        {{!-- PARENT STAT (Dark) --}}
        <div class="stat-block">
             <div class="stat-label">BODY:</div>
             <input class="stat-input" type="number" name="system.ratings.body.value" value="{{system.ratings.body.value}}" readonly style="background: #222; color: #aaa; border: 1px solid #000;"/>
        </div>
        {{!-- CHILD STATS --}}
        <div class="stat-block">
             <div class="stat-label rollable" data-roll-type="stat" data-key="str">STR:</div>
             <input class="stat-input" type="number" name="system.stats.str.value" value="{{system.stats.str.value}}"/>
        </div>
        <div class="stat-block">
             <div class="stat-label rollable" data-roll-type="stat" data-key="dex">DEX:</div>
             <input class="stat-input" type="number" name="system.stats.dex.value" value="{{system.stats.dex.value}}"/>
        </div>
    </div> 

     {{!-- COLUMN 3: BRAINS GROUP --}}
     <div class="flexcol">
        {{!-- PARENT STAT (Dark) --}}
        <div class="stat-block">
             <div class="stat-label">BRAINS:</div>
             <input class="stat-input" type="number" name="system.ratings.brains.value" value="{{system.ratings.brains.value}}" readonly style="background: #222; color: #aaa; border: 1px solid #000;"/>
        </div>
        {{!-- CHILD STATS --}}
        <div class="stat-block">
             <div class="stat-label rollable" data-roll-type="stat" data-key="know">KNOW:</div>
             <input class="stat-input" type="number" name="system.stats.know.value" value="{{system.stats.know.value}}"/>
        </div>
        <div class="stat-block">
             <div class="stat-label rollable" data-roll-type="stat" data-key="conc">CONC:</div>
             <input class="stat-input" type="number" name="system.stats.conc.value" value="{{system.stats.conc.value}}"/>
        </div>
    </div>

     {{!-- COLUMN 4: BRAVADO GROUP --}}
     <div class="flexcol">
        {{!-- PARENT STAT (Dark) --}}
        <div class="stat-block">
             <div class="stat-label">BRAVADO:</div>
             <input class="stat-input" type="number" name="system.ratings.bravado.value" value="{{system.ratings.bravado.value}}" readonly style="background: #222; color: #aaa; border: 1px solid #000;"/>
        </div>
        {{!-- CHILD STATS --}}
        <div class="stat-block">
             <div class="stat-label rollable" data-roll-type="stat" data-key="cha">CHA:</div>
             <input class="stat-input" type="number" name="system.stats.cha.value" value="{{system.stats.cha.value}}"/>
        </div>
        <div class="stat-block">
             <div class="stat-label rollable" data-roll-type="stat" data-key="cool">COOL:</div>
             <input class="stat-input" type="number" name="system.stats.cool.value" value="{{system.stats.cool.value}}"/>
        </div>
    </div>

    {{!-- COLUMN 5: EXTRAS --}}
    <div class="flexcol" style="justify-content: flex-end; gap: 10px;">
        <div class="secondary-stat-box flexrow">
            {{!-- ADDED: rollable class and data-roll-type="init" --}}
            <label class="rollable" data-roll-type="init" style="width: 60px; font-size: 0.8em; line-height: 1; cursor: pointer;">
                INITIATIVE <i class="fas fa-dice-d20"></i>
            </label>
            
            <input class="stat-input" type="number" name="system.stats.init.value" value="{{system.stats.init.value}}" readonly style="background: #222; color: #aaa; border: 1px solid #000;"/>
        </div>

        <div class="secondary-stat-box flexrow" style="height: 50px;">
            <label style="width: 60px; font-size: 0.8em;">LUCK / FLUX:</label>
             <div class="slash-input" style="background: #d0d3d8; color: black; padding: 0 5px;">
                <input type="number" name="system.stats.luck.value" value="{{system.stats.luck.value}}" style="color:black; width: 30px;"/>
                /
                <input type="number" name="system.stats.flux.value" value="{{system.stats.flux.value}}" style="color:black; width: 30px;"/>
             </div>
        </div>
    </div>
</div>