{{!-- WOUNDS SECTION --}}
<div class="sla-box">
    <div class="sla-box-header">WOUNDS</div>
    
    <div class="wound-list">
        {{!-- Left Column --}}
        <div class="wound-entry">
            <label for="w_head">Head</label>
            <input type="checkbox" id="w_head" class="wound-checkbox" name="system.wounds.head" {{checked system.wounds.head}}/>
        </div>
        <div class="wound-entry">
            <label for="w_torso">Torso</label>
            <input type="checkbox" id="w_torso" class="wound-checkbox" name="system.wounds.torso" {{checked system.wounds.torso}}/>
        </div>
        <div class="wound-entry">
            <label for="w_larm">Left Arm</label>
            <input type="checkbox" id="w_larm" class="wound-checkbox" name="system.wounds.lArm" {{checked system.wounds.lArm}}/>
        </div>

        {{!-- Right Column --}}
        <div class="wound-entry">
            <label for="w_rarm">Right Arm</label>
            <input type="checkbox" id="w_rarm" class="wound-checkbox" name="system.wounds.rArm" {{checked system.wounds.rArm}}/>
        </div>
        <div class="wound-entry">
            <label for="w_lleg">Left Leg</label>
            <input type="checkbox" id="w_lleg" class="wound-checkbox" name="system.wounds.lLeg" {{checked system.wounds.lLeg}}/>
        </div>
        <div class="wound-entry">
            <label for="w_rleg">Right Leg</label>
            <input type="checkbox" id="w_rleg" class="wound-checkbox" name="system.wounds.rLeg" {{checked system.wounds.rLeg}}/>
        </div>
    </div>
</div>

{{!-- CONDITIONS SECTION --}}
<div class="sla-box">
    <div class="sla-box-header">CONDITIONS</div>
    <div class="condition-grid">
        <a class="condition-toggle {{#if system.conditions.bleeding}}active{{/if}}" data-condition="bleeding" title="Bleeding">
            <i class="fas fa-tint"></i>
        </a>
        <a class="condition-toggle {{#if system.conditions.burning}}active{{/if}}" data-condition="burning" title="Burning">
            <i class="fas fa-fire"></i>
        </a>
        <a class="condition-toggle {{#if system.conditions.prone}}active{{/if}}" data-condition="prone" title="Prone">
            <i class="fas fa-user-injured"></i>
        </a>
        <a class="condition-toggle {{#if system.conditions.stunned}}active{{/if}}" data-condition="stunned" title="Stunned">
            <i class="fas fa-dizzy"></i>
        </a>
        <a class="condition-toggle {{#if system.conditions.immobile}}active{{/if}}" data-condition="immobile" title="Immobile">
            <i class="fas fa-anchor"></i>
        </a>
        
        {{!-- Critical Indicator (Read Only) --}}
        <div class="condition-read-only {{#if system.conditions.critical}}active{{/if}}" title="Critical Status">
            <i class="fas fa-heartbeat"></i>
        </div>
    </div>
</div>