<div class="sla-panel sla-ebb-disciplines-panel">

    <div class="sla-header-bar flexrow">
        <span style="flex:1">{{localize "SLA.EbbDisciplinesHeader"}}</span>
        <a class="item-create" data-type="discipline" title="{{localize "SLA.EbbCreateDiscipline"}}"><i class="fas fa-plus"></i></a>
    </div>

    <div class="scroll-list sla-ebb-disciplines-scroll">
        {{#each disciplines as |discipline|}}
        <div class="sla-ebb-discipline-card item discipline-row" data-item-id="{{discipline._id}}">
            <div class="sla-ebb-discipline-card__header">
                <span class="sla-ebb-discipline-card__name">{{discipline.name}}</span>
                <span class="sla-ebb-discipline-card__rank" title="{{localize "SLA.DisciplineRank"}}">{{discipline.system.rank}}</span>
                <span class="sla-ebb-discipline-card__controls item-controls">
                    <a class="item-edit" title="{{localize "SLA.EditDiscipline"}}"><i class="fas fa-edit"></i></a>
                    <a class="item-delete" title="{{localize "SLA.DeleteDiscipline"}}"><i class="fas fa-trash"></i></a>
                </span>
            </div>
            {{#if discipline.formulas.length}}
            <ul class="sla-ebb-formula-list">
                {{#each discipline.formulas as |formula|}}
                <li class="sla-ebb-formula-row item formula-row" data-item-id="{{formula._id}}">
                    <span class="sla-ebb-formula-row__main">
                        <i class="fas fa-angle-right sla-ebb-formula-row__chev"></i>
                        <span class="item-name rollable" data-roll-type="item">{{formula.name}}</span>
                    </span>
                    <span class="sla-ebb-formula-row__badges">
                        <span class="sla-ebb-badge sla-ebb-badge--target">{{formula.ebbTargetLabel}}</span>
                        <span class="sla-ebb-badge sla-ebb-badge--effect">{{formula.ebbEffectLabel}}</span>
                        {{#if (gt formula.system.removeWounds 0)}}
                        <span class="sla-ebb-badge sla-ebb-badge--wounds">{{formula.system.removeWounds}} {{localize "SLA.EbbWoundsShort"}}</span>
                        {{/if}}
                    </span>
                    <span class="sla-ebb-formula-row__cost">{{formula.system.cost}} {{localize "SLA.EbbFluxShort"}}</span>
                    <span class="item-controls sla-ebb-formula-row__controls">
                        <a class="item-control item-rollable" data-roll-type="item" title="{{localize "SLA.UseFormula"}}"><i
                                class="fas fa-bolt"></i></a>
                        <a class="item-edit" title="{{localize "SLA.EditFormula"}}"><i class="fas fa-edit"></i></a>
                        <a class="item-delete" title="{{localize "SLA.DeleteFormula"}}"><i class="fas fa-trash"></i></a>
                    </span>
                </li>
                {{/each}}
            </ul>
            {{/if}}
        </div>
        {{/each}}

        {{#unless disciplines}}
        <div class="sla-ebb-empty">{{localize "SLA.NoDisciplines"}}</div>
        {{/unless}}
    </div>
</div>
