<div class="sla-panel sla-effects-panel">
    <div class="sla-header-bar flexrow">
        <span>{{localize "SLA.ActorSheet.ActiveEffects"}}</span>
        {{#if (and owner editable)}}
        <button type="button" class="sla-effect-create" title="{{localize 'SLA.ActorSheet.AddEffect'}}" aria-label="{{localize 'SLA.ActorSheet.AddEffect'}}"><i class="fas fa-plus" aria-hidden="true"></i></button>
        {{/if}}
    </div>

    <p class="sla-effects-hint">{{localize "SLA.ActorSheet.ActiveEffectsHint"}}</p>

    <div class="sla-effects-toolbar">
        <label class="element-invisible" for="sla-actor-effect-search">{{localize "SLA.ActorSheet.SearchEffects"}}</label>
        <input type="search" class="sla-effect-search" id="sla-actor-effect-search" placeholder="{{localize 'SLA.ActorSheet.SearchEffects'}}" autocomplete="off" />
    </div>

    <ol class="items-list sla-effects-list">
        {{#each effectsList as |eff|}}
        <li class="item flexrow sla-effect-row" data-effect-id="{{eff.id}}" data-effect-name="{{eff.name}}">
            <div class="item-image flex0">
                <img src="{{eff.img}}" width="28" height="28" alt="" />
            </div>
            <div class="item-name flex2">
                <h4 class="{{#if eff.disabled}}is-disabled{{/if}}">{{eff.name}}</h4>
                {{#if eff.durationLabel}}<div class="sla-effect-meta">{{eff.durationLabel}}</div>{{/if}}
            </div>
            <div class="item-detail flex1 sla-effect-source">{{eff.sourceName}}</div>
            {{#if ../owner}}
            <div class="item-controls flex0">
                <button type="button" class="sla-effect-toggle" data-effect-id="{{eff.id}}" title="{{localize 'SLA.ActorSheet.ToggleEffect'}}" aria-label="{{localize 'SLA.ActorSheet.ToggleEffect'}}">
                    {{#if eff.disabled}}<i class="fas fa-toggle-off" aria-hidden="true"></i>{{else}}<i class="fas fa-toggle-on sla-effect-on" aria-hidden="true"></i>{{/if}}
                </button>
                <button type="button" class="sla-effect-edit" data-effect-id="{{eff.id}}" title="{{localize 'SLA.ActorSheet.EditEffect'}}" aria-label="{{localize 'SLA.ActorSheet.EditEffect'}}"><i class="fas fa-edit" aria-hidden="true"></i></button>
                <button type="button" class="sla-effect-delete" data-effect-id="{{eff.id}}" title="{{localize 'SLA.ActorSheet.DeleteEffect'}}" aria-label="{{localize 'SLA.ActorSheet.DeleteEffect'}}"><i class="fas fa-trash" aria-hidden="true"></i></button>
            </div>
            {{/if}}
        </li>
        {{else}}
        <li class="sla-effects-empty">{{localize "SLA.ActorSheet.NoEffects"}}</li>
        {{/each}}
    </ol>
</div>
