<form class="{{cssClass}} sla-sheet threat-sheet" autocomplete="off">

    {{!-- THREAT HEADER --}}
    <div class="threat-header">
        <div class="header-name">
            <input name="name" type="text" value="{{actor.name}}" placeholder="Threat Name"/>
        </div>
        <img class="threat-img profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
    </div>

    {{!-- STATS BLOCK --}}
    <div class="threat-body" style="padding: 5px;">
        <table class="threat-table">
            <thead>
                <tr class="threat-row-label">
                    <th>STR</th> <th>DEX</th> <th>KNOW</th>
                    <th>CONC</th> <th>CHA</th> <th>COOL</th>
                </tr>
            </thead>
            <tbody>
                <tr class="threat-row-value">
                    <td><input type="number" name="system.stats.str.value" value="{{system.stats.str.value}}"/></td>
                    <td><input type="number" name="system.stats.dex.value" value="{{system.stats.dex.value}}"/></td>
                    <td><input type="number" name="system.stats.know.value" value="{{system.stats.know.value}}"/></td>
                    <td><input type="number" name="system.stats.conc.value" value="{{system.stats.conc.value}}"/></td>
                    <td><input type="number" name="system.stats.cha.value" value="{{system.stats.cha.value}}"/></td>
                    <td><input type="number" name="system.stats.cool.value" value="{{system.stats.cool.value}}"/></td>
                </tr>
            </tbody>
        </table>

        {{!-- DERIVED STATS --}}
        <div class="threat-derived flexrow">
            <div class="threat-box">
                <label>HP</label>
                <div class="flexrow">
                    <input type="number" name="system.hp.value" value="{{system.hp.value}}"/>
                    <span>/</span>
                    <input type="number" name="system.hp.max" value="{{system.hp.max}}"/>
                </div>
            </div>
            <div class="threat-box">
                <label>ARMOR</label>
                <input type="number" name="system.armor.pv" value="{{system.armor.pv}}"/>
            </div>
            <div class="threat-box">
                <label>INIT</label>
                <div class="flexrow">
                    {{!-- FIX: Changed from Span to Input --}}
                    <input type="number" name="system.stats.init.value" value="{{system.stats.init.value}}" style="font-weight:bold; font-size:1.2em; border:none; background:transparent; text-align:center; width: 50px;"/>
                    <a class="rollable" data-roll-type="init"><i class="fas fa-dice-d10"></i></a>
                </div>
            </div>
            <div class="threat-box">
                <label>MOVE (Close/Rush)</label>
                <div class="flexrow">
                    <input type="number" name="system.move.closing" value="{{system.move.closing}}" placeholder="0"/>
                    <span>/</span>
                    <input type="number" name="system.move.rushing" value="{{system.move.rushing}}" placeholder="0"/>
                </div>
            </div>
        </div>

        {{!-- SKILLS & GEAR --}}
        <div class="threat-section-bar">SKILLS & WEAPONS</div>
        <div class="threat-content-box">
            {{#each gear as |item|}}
            <div class="item threat-item flexrow" data-item-id="{{item._id}}">
                <img src="{{item.img}}"/>
                <span class="item-name rollable" data-roll-type="item" style="font-weight:bold;">{{item.name}}</span>
                <div class="item-controls">
                    <a class="item-edit" title="Edit"><i class="fas fa-edit"></i></a>
                    <a class="item-delete" title="Delete"><i class="fas fa-trash"></i></a>
                </div>
            </div>
            {{/each}}
            {{#each skills as |skill|}}
            <div class="item threat-item flexrow" data-item-id="{{skill._id}}">
                <span class="item-name rollable" data-roll-type="skill" style="padding-left:5px;">{{skill.name}}</span>
                <span style="color:#666; margin-right:5px;"> ({{skill.system.rank}})</span>
                <div class="item-controls">
                    <a class="item-edit"><i class="fas fa-edit"></i></a>
                    <a class="item-delete"><i class="fas fa-trash"></i></a>
                </div>
            </div>
            {{/each}}
        </div>

        {{!-- DESCRIPTION --}}
        <div class="threat-section-bar">NOTES</div>
        <div class="threat-content-box" style="height: 150px; overflow-y: auto;">
            {{editor enrichedBiography target="system.biography" button=true owner=owner editable=editable}}
        </div>
    </div>
</form>