<div class="sla-chat-card damage-result">
    <div class="damage-header">
        {{victimName}} Hit!
    </div>

    <div class="damage-row">
        <span>Raw Damage:</span> <strong>{{rawDamage}}</strong>
    </div>
    <div class="damage-row reduction">
        <span>PV Reduction:</span> <strong>-{{targetPV}}</strong>
    </div>
    <div class="damage-row final">
        <span>Final HP Loss:</span> <strong class="final-value">{{finalDamage}}</strong>
    </div>

    <div class="damage-hp">
        HP: {{hpData.old}} &rarr; <strong>{{hpData.new}}</strong>
    </div>

    {{#if armorData}}
    <div class="damage-armor">
        <i class="fas fa-shield-alt"></i> Armor Res: {{armorData.current}} &rarr; {{armorData.new}} (-{{armorData.ad}})
    </div>
    {{/if}}
</div>