<div class="sla-chat-card reload-action">
    <div class="reload-header">RELOAD: {{weaponName}}</div>
    <div class="reload-content">{{actorName}} reloads their weapon.</div>
    <div class="reload-details">
        <strong>Magazine:</strong> {{magazineName}}<br>
        <strong>Ammo Loaded:</strong> {{ammoLoaded}}<br>
        {{#if magazineDepleted}}
        <span style="color: #ff5555;"><strong>Magazine Depleted</strong></span>
        {{else}}
        <strong>Magazines Remaining:</strong> {{magazinesRemaining}}
        {{/if}}
    </div>
</div>
