<div class="sla-panel sla-item-effects">
    <div class="sla-section__header sla-item-effects__header">
        <span class="sla-section__title">{{localize "SLA.ItemSheet.Effects.Title"}}</span>
        {{#if editable}}
        <button type="button" class="sla-item-effect-create" title="{{localize "SLA.ItemSheet.Effects.Add"}}"><i class="fas fa-plus"></i></button>
        {{/if}}
    </div>
    <p class="sla-item-effects-hint">{{localize "SLA.ItemSheet.Effects.Hint"}}</p>

    <div class="sla-effects-toolbar">
        <input type="search" class="sla-item-effect-search" placeholder="{{localize "SLA.ItemSheet.Effects.Search"}}" autocomplete="off" />
    </div>

    <ol class="items-list sla-item-effects-list">
        {{#each itemEffects as |eff|}}
        <li class="item flexrow sla-item-effect-row" data-effect-id="{{eff.id}}" data-effect-name="{{eff.name}}">
            <div class="item-image flex0">
                <img src="{{eff.img}}" width="28" height="28" alt="" />
            </div>
            <div class="item-name flex2">
                <h4>{{eff.name}}</h4>
            </div>
            {{#if ../editable}}
            <div class="item-controls flex0">
                <button type="button" class="sla-item-effect-edit" data-effect-id="{{eff.id}}" title="{{localize "SLA.ItemSheet.Effects.Edit"}}"><i class="fas fa-edit"></i></button>
                <button type="button" class="sla-item-effect-delete" data-effect-id="{{eff.id}}" title="{{localize "SLA.ItemSheet.Effects.Delete"}}"><i class="fas fa-trash"></i></button>
            </div>
            {{/if}}
        </li>
        {{else}}
        <li class="sla-effects-empty">{{localize "SLA.ItemSheet.Effects.Empty"}}</li>
        {{/each}}
    </ol>
</div>
