<ol class="items-list">
    <li class="item flexrow items-header">
        <div class="item-image"></div>
        <div class="item-name">Skill Name</div>
        <div class="item-prop">Rank</div>
        <div class="item-prop">Stat</div>
        
        <div class="item-controls">
            <a class="item-control item-create" title="Create Skill" data-type="skill">
                <i class="fas fa-plus"></i> Add
            </a>
        </div>
    </li>

    {{#each skills as |item id|}}
    <li class="item flexrow" data-item-id="{{item._id}}">
        
        <div class="item-image">
            <a class="rollable" data-roll-type="item">
                <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
            </a>
        </div>

        <h4 class="item-name">{{item.name}}</h4>

        <div class="item-prop">
             <span class="skill-rank">{{item.system.rank}}</span>
        </div>

        <div class="item-prop">
            <span class="skill-stat">{{item.system.stat}}</span>
        </div>

        <div class="item-controls">
            <a class="item-control item-edit" title="Edit Skill"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Skill"><i class="fas fa-trash"></i></a>
        </div>
    </li>
    {{/each}}
</ol>