<div class="sla-item-root sheet item {{item.type}}-theme standard-form" autocomplete="off">

    {{!-- HEADER --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-details">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Item Name" /></h1>
            <div class="item-subtitle">
                <span class="type-label">{{localize (concat "TYPES.Item." item.type)}}</span>
            </div>
        </div>
    </header>

    {{#if useItemTabs}}

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item {{tabs.attributes.cssClass}}" data-group="primary" data-tab="attributes">Details</a>
        <a class="item {{tabs.description.cssClass}}" data-group="primary" data-tab="description">Description</a>
    </nav>

    <section class="sheet-body">
        <div class="tab attributes {{tabs.attributes.cssClass}}" data-group="primary" data-tab="attributes">
            {{> "systems/sla-industries/templates/item/parts/item-catalogue.hbs"}}
        </div>

        <div class="tab description {{tabs.description.cssClass}}" data-group="primary" data-tab="description">
            {{#if editable}}
            <prose-mirror class="editor" name="system.description" toggled value="{{system.description}}">{{{enrichedDescription}}}</prose-mirror>
            {{else}}
            <div class="editor">{{{enrichedDescription}}}</div>
            {{/if}}
        </div>
    </section>

    {{else}}

    <section class="sheet-body single-view">

        <div class="sheet-attributes">

            {{#if (or (eq item.type "vehicle") (or (eq item.type "magazine") (or (eq item.type "drug") (eq item.type "item"))))}}
            {{> "systems/sla-industries/templates/item/parts/item-catalogue.hbs"}}
            {{/if}}

            {{#if (or (eq item.type "skill") (eq item.type "trait"))}}
            {{> "systems/sla-industries/templates/item/parts/item-academic.hbs"}}
            {{/if}}

            {{#if (or (eq item.type "ebbFormula") (eq item.type "discipline"))}}
            {{> "systems/sla-industries/templates/item/parts/item-spectral.hbs"}}
            {{/if}}

            {{#if (or (eq item.type "species") (eq item.type "package"))}}
            {{> "systems/sla-industries/templates/item/parts/item-dossier.hbs"}}
            {{/if}}
        </div>

        <div class="sheet-description">
            <div class="sla-header-bar-small">Description</div>
            {{#if editable}}
            <prose-mirror class="editor" name="system.description" toggled value="{{system.description}}">{{{enrichedDescription}}}</prose-mirror>
            {{else}}
            <div class="editor">{{{enrichedDescription}}}</div>
            {{/if}}
        </div>

    </section>

    {{/if}}
</div>
