{{!-- V13: No <form> element - ApplicationV2 creates the form automatically when tag: 'form' is set --}}
<div class="{{cssClass}} sla-sheet sheet item {{item.type}}-theme" autocomplete="off">

    {{!-- HEADER --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-details">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Item Name" /></h1>
            <div class="item-subtitle">
                {{!-- FIX: Removed 'capitalize' and changed prefix to match en.json --}}
                <span class="type-label">{{localize (concat "TYPES.Item." item.type)}}</span>
            </div>
        </div>
    </header>

    {{!-- LOGIC: Group A (Tabs) vs Group B (Single View) --}}
    {{#if (or (eq item.type "weapon") (or (eq item.type "armor") (or (eq item.type "explosive") (or (eq item.type "magazine") (or (eq item.type "drug") (eq item.type "item"))))))}}

    {{!-- === GROUP A: PRESERVE TABS (V2) === --}}
    {{!-- Tab Navigation (rendered as PART) --}}
    <div data-application-part="tabs"></div>

    {{!-- Tab Content (rendered as PARTS - AppV2 will render tab sections directly here) --}}
    <section class="sheet-body">
        <div data-application-part="attributes"></div>
        <div data-application-part="description"></div>
    </section>

    {{else}}

    {{!-- === GROUP B: SINGLE VIEW (Non-physical items: Skills, Traits, Ebb, Disciplines, Species, Packages) === --}}
    <section class="sheet-body single-view">

        {{!-- ROW 1 & 2: ATTRIBUTES & DROP ZONES (Handled by Partials) --}}
        <div class="sheet-attributes">

            {{!-- All non-physical item types use the catalogue dispatcher --}}
            {{> "systems/sla-industries/templates/item/parts/item-catalogue.hbs" item=item system=system config=config firingModes=firingModes}}
        </div>

        {{!-- ROW 3: DESCRIPTION (Always at bottom) --}}
        <div class="sheet-description">
            <div class="sla-header-bar-small">Description</div>
            {{#if editable}}
            <prose-mirror name="system.description" button="true" editable="{{editable}}" toggled="false" value="{{item.system.description}}">
                {{{enrichedDescription}}}
            </prose-mirror>
            {{else}}
            {{{enrichedDescription}}}
            {{/if}}
        </div>

    </section>

    {{/if}}
</div>