<form class="{{cssClass}} sla-sheet sheet item {{item.type}}-theme" autocomplete="off">
    
    {{!-- HEADER (Theme specific styles will handle the look) --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-details">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Item Name"/></h1>
            
            <div class="item-subtitle">
                <span class="type-label">{{item.type}}</span>
                {{#if (or (eq item.type "skill") (eq item.type "discipline"))}}
                    <span class="rank-label">Rank: <input type="number" name="system.rank" value="{{system.rank}}" class="tiny-input"/></span>
                {{/if}}
            </div>
        </div>
    </header>

    {{!-- NAVIGATION --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="attributes">Details</a>
        <a class="item" data-tab="description">Description</a>
    </nav>

    {{!-- SHEET BODY --}}
    <section class="sheet-body">

        {{!-- ATTRIBUTES TAB --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            
            {{!-- WEAPON / GEAR SPECIFIC --}}
            {{#if (or (eq item.type "weapon") (eq item.type "item") (eq item.type "armor") (eq item.type "drug"))}}
            <div class="catalogue-grid">
                <div class="form-group">
                    <label>Weight</label>
                    <input type="number" name="system.weight" value="{{system.weight}}" step="0.1"/>
                </div>
                <div class="form-group">
                    <label>Cost</label>
                    <input type="number" name="system.price" value="{{system.price}}"/>
                </div>
                {{#if (eq item.type "weapon")}}
                <div class="form-group">
                    <label>Damage</label>
                    <input type="text" name="system.damage" value="{{system.damage}}"/>
                </div>
                <div class="form-group">
                    <label>Recoil</label>
                    <input type="text" name="system.recoil" value="{{system.recoil}}"/>
                </div>
                <div class="form-group">
                    <label>Skill</label>
                    <select name="system.skill">
                        {{selectOptions config.combatSkills selected=system.skill}}
                    </select>
                </div>
                {{/if}}
                {{#if (eq item.type "armor")}}
                <div class="form-group">
                    <label>PV</label>
                    <input type="number" name="system.pv" value="{{system.pv}}"/>
                </div>
                <div class="form-group">
                    <label>Resist</label>
                    <div class="flexrow">
                        <input type="number" name="system.resistance.value" value="{{system.resistance.value}}" placeholder="Cur"/>
                        /
                        <input type="number" name="system.resistance.max" value="{{system.resistance.max}}" placeholder="Max"/>
                    </div>
                </div>
                {{/if}}
            </div>
            {{/if}}

            {{!-- SKILL / TRAIT SPECIFIC --}}
            {{#if (or (eq item.type "skill") (eq item.type "trait"))}}
            <div class="academic-paper">
                <div class="form-group line-item">
                    <label>Related Stat:</label>
                    <select name="system.stat">
                        {{selectOptions config.stats selected=system.stat}}
                    </select>
                </div>
                <div class="form-group line-item">
                    <label>XP Cost:</label>
                    <input type="number" name="system.xpCost" value="{{system.xpCost}}"/>
                </div>
                <div class="academic-note">
                    Official SLA Industries Training Manual v.902
                </div>
            </div>
            {{/if}}

            {{!-- EBB / DISCIPLINE SPECIFIC --}}
            {{#if (or (eq item.type "ebbFormula") (eq item.type "discipline"))}}
            <div class="spectral-container">
                <div class="form-group glow-input">
                    <label>Flux Cost</label>
                    <input type="number" name="system.cost" value="{{system.cost}}"/>
                </div>
                {{#if (eq item.type "ebbFormula")}}
                <div class="form-group glow-input">
                    <label>Formula Rating (FR)</label>
                    <input type="number" name="system.formulaRating" value="{{system.formulaRating}}"/>
                </div>
                <div class="form-group glow-input">
                    <label>Discipline</label>
                    <select name="system.discipline">
                        {{selectOptions config.disciplineSkills selected=system.discipline}}
                    </select>
                </div>
                {{/if}}
            </div>
            {{/if}}

        </div>

        {{!-- DESCRIPTION TAB --}}
        <div class="tab description" data-group="primary" data-tab="description">
            {{editor enrichedDescription target="system.description" button=true owner=owner editable=editable}}
        </div>

    </section>
</form>