<div class="sla-item-root sheet item {{item.type}}-theme standard-form" data-item-type="{{item.type}}" autocomplete="off">

    {{!-- HEADER --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-details">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Item Name" /></h1>
            <div class="item-subtitle">
                <span class="type-label">{{localize (concat "TYPES.Item." item.type)}}</span>
            </div>
        </div>
    </header>

    {{#if useTwoTabs}}

    <nav class="sheet-tabs tabs sla-item-tab-nav" data-group="primary">
        <a class="item {{tabs.attributes.cssClass}}" data-group="primary" data-tab="attributes">{{localize "SLA.ItemSheet.Tab.Details"}}</a>
        <a class="item {{tabs.description.cssClass}}" data-group="primary" data-tab="description">{{localize "SLA.ItemSheet.Tab.Description"}}</a>
    </nav>

    <section class="sheet-body">
        <div class="tab attributes {{tabs.attributes.cssClass}}" data-group="primary" data-tab="attributes">
            {{#if (eq item.type "skill")}}
            {{> "systems/sla-industries/templates/item/parts/item-skill.hbs"}}
            {{/if}}

            {{#if (eq item.type "trait")}}
            {{> "systems/sla-industries/templates/item/parts/item-trait.hbs"}}
            {{/if}}

            {{#if (eq item.type "discipline")}}
            {{> "systems/sla-industries/templates/item/parts/item-spectral.hbs"}}
            {{/if}}
        </div>

        <div class="tab description {{tabs.description.cssClass}}" data-group="primary" data-tab="description">
            {{#if editable}}
            <prose-mirror class="editor" name="system.description" toggled value="{{system.description}}">{{{enrichedDescription}}}</prose-mirror>
            {{else}}
            <div class="editor">{{{enrichedDescription}}}</div>
            {{/if}}
        </div>
    </section>

    {{else}}

    <nav class="sheet-tabs tabs sla-item-tab-nav" data-group="primary">
        <a class="item {{tabs.attributes.cssClass}}" data-group="primary" data-tab="attributes">{{localize "SLA.ItemSheet.Tab.Details"}}</a>
        <a class="item {{tabs.description.cssClass}}" data-group="primary" data-tab="description">{{localize "SLA.ItemSheet.Tab.Description"}}</a>
        <a class="item {{tabs.effects.cssClass}}" data-group="primary" data-tab="effects">{{localize "SLA.ItemSheet.Tab.Effects"}}</a>
    </nav>

    <section class="sheet-body">
        <div class="tab attributes {{tabs.attributes.cssClass}}" data-group="primary" data-tab="attributes">
            {{#if useCataloguePart}}
            {{> "systems/sla-industries/templates/item/parts/item-catalogue.hbs"}}
            {{/if}}

            {{#if (eq item.type "ebbFormula")}}
            {{> "systems/sla-industries/templates/item/parts/item-spectral.hbs"}}
            {{/if}}

            {{#if (eq item.type "species")}}
            {{> "systems/sla-industries/templates/item/parts/item-species.hbs"}}
            {{/if}}

            {{#if (eq item.type "package")}}
            {{> "systems/sla-industries/templates/item/parts/item-package.hbs"}}
            {{/if}}
        </div>

        <div class="tab description {{tabs.description.cssClass}}" data-group="primary" data-tab="description">
            {{#if editable}}
            <prose-mirror class="editor" name="system.description" toggled value="{{system.description}}">{{{enrichedDescription}}}</prose-mirror>
            {{else}}
            <div class="editor">{{{enrichedDescription}}}</div>
            {{/if}}
        </div>

        <div class="tab effects {{tabs.effects.cssClass}}" data-group="primary" data-tab="effects">
            {{> "systems/sla-industries/templates/item/parts/item-effects.hbs"}}
        </div>
    </section>

    {{/if}}
</div>
